<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080215422648-v76n66u322jtlb35epm1ctnukvr4lsdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080215422648-v76n66u322jtlb35epm1ctnukvr4lsdt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1080215422648-a0dp0d0i2ltnp646v2j0s2ir3bem3gkl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwI_KLk3iDseul8MLzfW7AxWrWrLL6-R0</string>
	<key>GCM_SENDER_ID</key>
	<string>1080215422648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseDynamicLinksSample3</string>
	<key>PROJECT_ID</key>
	<string>dynamic-links-sample-ca6a7</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamic-links-sample-ca6a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080215422648:ios:5207e185db1e176885d64d</string>
</dict>
</plist>